  .pokedex-container{
  border: solid 3px rgb(224, 68, 68);
  background-color: rgb(243, 180, 172);
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
}
.pokedex-title{
  margin: 30px auto;
}
ul{
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.pokedex-container{
  text-align: center;
}
.pokedex-btn{
  width: 70%;
  margin-top: 1px;
  
}
h1, .pokedex-btn{
  text-transform: capitalize;
}
.modal-img{
  margin: auto;
  display: block;
}
.background{
  background-image: url(/assets/pokeball-pokemon-svgrepo-com.svg);
  background-size: 10%;
}

